Source: mint-common
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: mint-common
Architecture: any
Depends: python3,
         python3-aptdaemon,
         python3-aptdaemon.gtk3widgets,
         python3-gi,
         gir1.2-gtk-3.0,
         gir1.2-xapp-1.0,
         gir1.2-appstreamglib-1.0,
         libgtk3-perl,
         ${misc:Depends}
Description: Common scripts and resources for Linux Mint
 A collection of scripts and resources used by other Linux Mint packages
